.main{
    max-width: 80%;
    max-height: 100%;
    margin: auto;
    box-shadow: 2px 2px 10px black;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.div1 a{
    margin: 16px 0px;
}
.div1 a img{
    width: 27px;
    height: 30px;
}
.div1 ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.div1 ul li{
    list-style: none;
    justify-content: end;
    margin-right: 10px;
}
.description{
    text-align: center;
    padding: auto;
}
.description h1 , p{
    text-align: left;
    padding: 0 6%;
}
.footer{
    background-color: rgb(249, 206, 11);
    text-align: center;
    padding: 10px;
  }
  .subfooter{
      text-align: left;    
  }
  .subfooter ul li a{
    color: white;
  }
  .subfooter ul {
      
    list-style-type: none;
    padding-left: 0px;
      
  }
  .subfooter ul li{
      display: inline-block;
      margin-right: 1em;
  }
  .content{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.icon ul li{
    display: inline-block;
    margin-right: 1em;
    list-style: none;
}
.icon ul li a{
  color: white;
}
.commentsect p{
    margin: 0px 1%;
}
.commentsect h{
    padding-left: 0px 1%;
}
.comment{
    display: flex;
    margin: 0 2%;
}
.cmt{
    display: block;
    text-align: center;
}